body {
	--bg: #fff;
	--bg-1: #e9f7fe;
	--bg-2: #f5fafd;
	--bg-3: #f7f8fa;
	--bg-4: #f8fafe;
	--bg-5: #f8fbff;
	--bg-6: #f7f9fc;
	--color-headings: #1d293f;
	--color-texts: #7c8087;
	--color-texts-2: #3b4656;
	--border-color: #e2e4e8;
	--border-color-2: #d2e4ed;
	--border-color-3: #ECEFF4;
	--border-color-4: #3b4656;
	--border-color-5: #1d293f
}

.default-logo,
.default-shape {
	display: block
}

.light-version-logo {
	display: none
}

.dark-version-logo {
	display: none
}

.bg-default {
	background: var(--bg)
}

.bg-default-1 {
	background: var(--bg-1)
}

.bg-default-2 {
	background: var(--bg-2)
}

.bg-default-3 {
	background: var(--bg-3)
}

.bg-default-4 {
	background: var(--bg-4)
}

.bg-default-5 {
	background: var(--bg-5)
}

.bg-default-6 {
	background: var(--bg-6)
}

.text-default-color {
	color: var(--color-texts)
}

.text-default-color-2 {
	color: var(--color-texts-2)
}

.border-default-color {
	border-color: var(--border-color)
}

.border-default-color-2 {
	border-color: var(--border-color-2) !important
}

.border-default-color-3 {
	border-color: var(--border-color-3) !important
}

@media (min-width:992px) {
	.header-btn {
		margin-left: 10px
	}
}

.header-btn a {
	display: none
}

@media (min-width:360px) {
	.header-btn a {
		display: inline-flex;
		min-height: 35px;
		min-width: 120px;
		font-size: 14px;
		font-weight: 500
	}
}

@media (min-width:400px) {
	.header-btn a {
		min-height: 45px;
		min-width: 141px;
		font-size: 15px
	}
}

@media (min-width:576px) {
	.header-btn a {
		min-height: 45px
	}
}

.site-header--absolute {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999
}

.site-header--sticky:not(.mobile-sticky-enable) {
	position: absolute !important;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 999
}

@media (min-width:992px) {
	.site-header--sticky:not(.mobile-sticky-enable) {
		position: fixed !important;
		transition: .4s
	}

	.site-header--sticky:not(.mobile-sticky-enable).scrolling {
		transform: translateY(-100%);
		transition: .4s
	}

	.site-header--sticky:not(.mobile-sticky-enable).reveal-header {
		transform: translateY(0);
		box-shadow: 0 12px 34px -11px rgba(65, 62, 101, .1);
		z-index: 1000
	}
}

@media (min-width:992px) {
	.site-header--menu-center .navbar-nav-wrapper {
		margin-left: auto;
		margin-right: auto
	}
}

.site-header--menu-left .navbar-nav-wrapper .navbar-nav {
	justify-content: flex-start;
	padding-left: 15px
}

@media (min-width:1200px) {
	.site-header--menu-left .navbar-nav-wrapper {
		width: 100%
	}
}

.site-header--menu-right .navbar-nav-wrapper {
	margin-left: auto
}

.single-div+.single-div:after {
	position: absolute;
	left: 0;
	top: 62px;
	bottom: 62px;
	width: 1px;
	content: "";
	background: red
}

.single-div:after {
	position: absolute;
	right: 0;
	top: 62px;
	bottom: 62px;
	width: 1px;
	content: "";
	background: red
}

.single-div:last-child:after {
	background: 0 0
}

.sticky-bg-white.reveal-header {
	background: #fff
}

.sticky-bg-white.reveal-header {
	background: indigo
}

.sticky-bg-white.reveal-header {
	background: #fff
}

@media (min-width:992px) {
	.main-menu {
		display: flex;
		justify-content: flex-end
	}
}

.main-menu>li>.nav-link {
	color: var(--color-headings) !important;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 300;
	position: relative
}

@media (min-width:992px) {
	.main-menu>li>.nav-link {
		padding-top: 16px !important;
		padding-bottom: 16px !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-left: 18px !important;
		margin-right: 18px !important
	}
}

.main-menu>li>.nav-link:hover:before {
	transform: scaleX(1)
}

.main-menu>li.active>.nav-link:before {
	transform: scaleX(1)
}

@media (min-width:320px) and (max-width:992px) {
	.offcanvas-active.navbar-expand-lg .main-menu>li {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: 1px solid var(--border-color-3)
	}

	.offcanvas-active.navbar-expand-lg .main-menu>li>.nav-link {
		padding-bottom: 13px;
		padding-top: 13px
	}

	.offcanvas-active.navbar-expand-lg .main-menu>li:last-child {
		border-bottom-color: transparent
	}

	.offcanvas-active.navbar-expand-lg .main-menu li:hover>a {
		color: #22b0fc
	}

	.offcanvas-active.navbar-expand-lg .main-menu a {
		display: flex
	}
}

.btn {
	border-radius: 0;
	font-size: 16px;
	font-weight: 500;
	height: 65px;
	min-width: 193px;
	line-height: 28px;
	padding: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center
}

.btn.btn-sm {
	min-width: 125px;
	height: 45px
}

.btn.btn-sm-2 {
	min-width: 131px;
	height: 60px;
	font-size: 16px
}

.btn.btn-lg {
	min-width: 172px;
	height: 50px;
	border-radius: 5px
}

.btn.btn-xl {
	min-width: 180px;
	height: 60px;
	border-radius: 5px
}

.btn.header-btn {
	min-width: 153px;
	height: 55px
}

.btn.btn-2 {
	min-width: 217px;
	height: 55px
}

.btn.btn-3 {
	min-width: 200px;
	height: 55px
}

.btn.header-btn-2 {
	width: 170px;
	height: 45px !important;
	font-size: 13px;
	padding: 0
}

.btn-link {
	color: #8c97ac;
	font-size: 16px;
	font-weight: 500
}

.text-placeholder-bali-gray::-moz-placeholder {
	color: #8c97ac
}

.text-placeholder-bali-gray:-ms-input-placeholder {
	color: #8c97ac
}

.text-placeholder-bali-gray::placeholder {
	color: #8c97ac
}

[data-pricing-dynamic][data-value-active=yearly] [data-pricing-trigger] {
	background: #22b0fc
}

.l1-content-image-group-1 {
	position: relative;
	margin-right: 74px
}

.footer-yellow-shape-img {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(-70%, 50%) scale(.5)
}

@media (min-width:1600px) {
	.footer-yellow-shape-img {
		transform: translate(-70%, 50%) scale(1)
	}
}

.l2-hero-image-group {
	position: relative;
	height: 320px;
	transform: translateX(30%);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-bottom: 40px
}

@media (min-width:480px) {
	.l2-hero-image-group {
		transform: translateX(-20%);
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin: 0 auto
	}
}

@media (min-width:992px) {
	.l2-hero-image-group {
		transform: translateX(50%);
		height: 480px;
		margin-left: 0;
		margin-bottom: 0
	}
}

@media (min-width:1366px) {
	.l2-hero-image-group {
		margin-left: 150px
	}
}

.l2-hero-image-group .img-1 {
	z-index: -1;
	transform: scale(.6) translateX(50%)
}

@media (min-width:576px) {
	.l2-hero-image-group .img-1 {
		transform: scale(.6) translateX(30%)
	}
}

@media (min-width:992px) {
	.l2-hero-image-group .img-1 {
		transform: scale(1) translateX(15%);
		position: relative;
		top: 15%
	}
}

@media (min-width:1200px) {
	.l2-hero-image-group .img-1 {
		transform: scale(1) translateX(15%);
		top: 5%
	}
}

.l2-hero-image-group .img-2 {
	position: absolute;
	z-index: 1;
	bottom: -25px;
	right: 85px;
	transform: scale(.5)
}

@media (min-width:768px) {
	.l2-hero-image-group .img-2 {
		transform: scale(.6);
		bottom: -5%;
		width: 100%
	}
}

@media (min-width:992px) {
	.l2-hero-image-group .img-2 {
		transform: scale(.7);
		bottom: 25%
	}
}

@media (min-width:1200px) {
	.l2-hero-image-group .img-2 {
		transform: scale(1);
		bottom: 12%
	}
}

.l2-hero-image-group .img-3 {
	position: absolute;
	transform: scale(.6);
	right: 30px;
	top: 0
}

@media (min-width:320px) {
	.l2-hero-image-group .img-3 {
		right: 25%
	}
}

@media (min-width:992px) {
	.l2-hero-image-group .img-3 {
		transform: scale(.7);
		right: auto !important;
		left: -50%
	}
}

@media (min-width:1200px) {
	.l2-hero-image-group .img-3 {
		transform: scale(1);
		left: -70%
	}
}

.l2-hero-image-group .img-4 {
	position: absolute;
	transform: scale(.6);
	top: 5%;
	right: -35%;
	z-index: 1
}

@media (min-width:480px) {
	.l2-hero-image-group .img-4 {
		right: -150px
	}
}

@media (min-width:992px) {
	.l2-hero-image-group .img-4 {
		transform: scale(.7);
		right: -200px
	}
}

@media (min-width:1200px) {
	.l2-hero-image-group .img-4 {
		transform: scale(1);
		top: 15%;
		right: -250px
	}
}

.l2-hero-image-group .img-group-content {
	transform: scale(.6) translate(-100%, -50%);
	left: 50%;
	top: 45%;
	position: absolute;
	width: 220px
}

@media (min-width:992px) {
	.l2-hero-image-group .img-group-content {
		transform: scale(.8);
		left: 20% !important;
		top: 30% !important
	}
}

@media (min-width:1200px) {
	.l2-hero-image-group .img-group-content {
		transform: scale(1);
		left: 5% !important;
		top: 40% !important
	}
}

.img-group-content {
	top: 250px;
	z-index: 2
}

@media (min-width:1200px) {
	.img-group-content {
		top: 170px;
		transform: scale(1);
		left: 160px !important
	}
}

.img-group-content a {
	text-align: center;
	display: inline-block;
	height: 31px;
	font-size: 13px;
	line-height: 31px
}

@media (min-width:992px) {
	.image-group-3 .arrow-shape-1 {
		left: 13%;
		top: 12%;
		transform: scale(.7)
	}
}

@media (min-width:1367px) {
	.image-group-3 .arrow-shape-1 {
		left: 25% !important
	}
}

@media (min-width:1200px) {
	.image-group-3 .arrow-shape-1 {
		left: 20% !important;
		top: 10%;
		transform: scale(1)
	}
}

@media (min-width:1600px) {
	.image-group-3 .arrow-shape-1 {
		left: 19% !important;
		top: 10%
	}
}

@media (min-width:992px) {
	.image-group-3 .arrow-shape-2 {
		right: 30%;
		top: 26%;
		transform: scale(.7)
	}
}

@media (min-width:1200px) {
	.image-group-3 .arrow-shape-2 {
		right: 26%;
		transform: scale(1);
		top: 25%
	}
}

@media (min-width:1600px) {
	.image-group-3 .arrow-shape-2 {
		top: 25%;
		right: 27%
	}
}

.l2-content-image-group-1 {
	position: relative;
	z-index: 1;
	text-align: left
}

@media (min-width:1200px) {
	.l2-content-image-group-1 {
		text-align: center
	}
}

.l2-content-image-group-1 .img-2 {
	position: absolute;
	top: 7%;
	right: -120px;
	transform: scale(.5)
}

@media (min-width:768px) {
	.l2-content-image-group-1 .img-2 {
		top: 22%;
		right: -70px;
		transform: scale(1)
	}
}

@media (min-width:992px) {
	.l2-content-image-group-1 .img-2 {
		right: -15% !important
	}
}

@media (min-width:1200px) {
	.l2-content-image-group-1 .img-2 {
		right: -7% !important
	}
}

.l2-content-image-group-1 .img-3 {
	position: absolute;
	z-index: -1;
	top: -8%;
	left: -15px
}

@media (min-width:1199px) {
	.l2-content-image-group-1 .img-3 {
		left: 20px
	}
}

@media (min-width:1366px) {
	.l2-content-image-group-1 .img-3 {
		left: 25px !important
	}
}

.l2-content-image-group-1 .img-group-content {
	position: absolute;
	top: 10%;
	left: -20%;
	transform: scale(.6)
}

@media (min-width:768px) {
	.l2-content-image-group-1 .img-group-content {
		top: 30%;
		left: -65px;
		transform: scale(1)
	}
}

@media (min-width:992px) {
	.l2-content-image-group-1 .img-group-content {
		left: -15% !important;
		top: 35%
	}
}

@media (min-width:1200px) {
	.l2-content-image-group-1 .img-group-content {
		left: -5% !important
	}
}

.l2-content-image-group-2 .img-1 {
	position: relative
}

.l2-content-image-group-2 .img-2 {
	position: absolute;
	top: 0;
	width: 33%
}

@media (min-width:480px) {
	.l2-content-image-group-2 .img-2 {
		top: -7%;
		left: -10%
	}
}

@media (min-width:1366px) {
	.l2-content-image-group-2 .img-2 {
		top: -7%;
		left: -7px
	}
}

.l2-content-image-group-2 .img-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 57%
}

@media (min-width:992px) {
	.l2-content-image-group-2 .img-3 {
		top: 0;
		right: 0
	}
}

.content-image-group-3 .img-1 {
	position: relative
}

.content-image-group-3 .img-2 {
	position: absolute;
	bottom: -30px;
	left: -5px;
	width: 37%;
	z-index: -1
}

@media (min-width:480px) {
	.content-image-group-3 .img-2 {
		bottom: -7%;
		left: -35px
	}
}

@media (min-width:1366px) {
	.content-image-group-3 .img-2 {
		bottom: -7%;
		left: -23px
	}
}

.content-image-group-3 .img-3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%
}

@media (min-width:992px) {
	.content-image-group-3 .img-3 {
		top: 0;
		right: 0
	}
}

.l3-hero-image-group {
	height: 100%
}

.l3-hero-image-group .img-1 {
	z-index: 1;
	text-align: center;
	position: relative
}

.l3-hero-image-group .img-1 img {
	width: 100%
}

.l3-hero-image-group .img-2 {
	left: -13%;
	bottom: 0;
	z-index: -1;
	position: absolute;
	width: 28%
}

@media (min-width:992px) {
	.l3-hero-image-group .img-2 {
		left: -113px
	}
}

.l3-hero-image-group .img-3 {
	z-index: -1;
	top: -20%;
	right: -10%;
	position: absolute;
	width: 30%
}

@media (min-width:992px) {
	.l3-content-image-group-4 {
		right: -50%;
		top: 50%;
		transform: translateY(-50%)
	}
}

@media (min-width:1080px) {
	.l3-content-image-group-4 {
		right: -45%
	}
}

@media (min-width:1200px) {
	.l3-content-image-group-4 {
		right: -25% !important
	}
}

@media (min-width:1600px) {
	.l3-content-image-group-4 {
		right: -12% !important
	}
}

.l3-content-image-group-4 .img-1 {
	position: relative
}

.l3-content-image-group-4 .img-2 {
	position: absolute;
	left: -15%;
	top: 13%;
	width: 45%
}

@media (min-width:992px) {
	.l3-content-image-group-4 .img-2 {
		top: 5%
	}
}

@media (min-width:1366px) {
	.l3-content-image-group-4 .img-2 {
		top: 10%
	}
}

.l3-content-image-group-4 .img-3 {
	position: absolute;
	left: -14%;
	z-index: -1;
	top: -10%;
	width: 75%
}

@media (min-width:992px) {
	.l3-content-image-group-4 .img-3 {
		left: -20%;
		top: -13%
	}
}

.l3-content-image-5 {
	z-index: 1
}

.l3-content-image-5 .img-1 {
	position: relative;
	width: 70%;
	left: 50%;
	transform: translateX(-50%)
}

@media (min-width:992px) {
	.l3-content-image-5 .img-1 {
		left: 45%
	}
}

.l3-content-image-5 .img-2 {
	top: 80%;
	position: absolute;
	width: 80%;
	right: -50px;
	transform: translateY(-80%)
}

.l3-content-image-5 .img-3 {
	z-index: -1;
	top: 30%;
	left: 30%;
	width: 72%;
	position: absolute;
	transform: translate(-50%, -50%)
}

@media (min-width:768px) {
	.l3-content-image-5 .img-3 {
		left: 30%
	}
}

@media (min-width:992px) {
	.l3-content-image-5 .img-3 {
		left: 23%
	}
}

@media (min-width:992px) {
	.l4-hero-image-group {
		position: absolute;
		transform: translateX(-55%);
		bottom: 0
	}
}

@media (min-width:1200px) {
	.l4-hero-image-group {
		transform: translateX(-43%)
	}
}

.l4-content-img-2 {
	position: relative
}

.l4-content-img-group {
	position: relative
}

.l4-content-img-group .img-1 {
	position: absolute;
	left: -5%;
	top: -35%;
	z-index: 1;
	width: 54%
}

.l4-content-img-group .img-2 {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	width: 43%
}

.l4-content-img-group .img-3 {
	position: relative;
	left: 50%;
	bottom: 0;
	z-index: 0;
	width: 45%;
	transform: translate(-50%, 40%)
}

.l5-content-2 {
	position: relative
}

.l6-hero-image-group {
	position: relative
}

@media (min-width:992px) {
	.l6-hero-image-group {
		position: absolute !important;
		bottom: 0;
		left: -20%;
		width: 50%;
		transform: scale(1.7)
	}
}

@media (min-width:1200px) {
	.l6-hero-image-group {
		transform: scale(1);
		left: 0;
		width: 45%
	}
}

@media (min-width:1600px) {
	.l6-hero-image-group {
		left: -80px;
		bottom: -150px;
		width: 45%
	}

	.l6-hero-image-group img {
		width: auto !important
	}
}

@media (min-width:1730px) {
	.l6-hero-image-group {
		left: -4%;
		width: 40%
	}
}

.l6-hero-image-group .img-1 {
	position: absolute;
	top: -6%;
	left: 35%;
	z-index: -1
}

@media (min-width:992px) {
	.l6-hero-image-group .img-1 {
		top: -10%;
		left: 35%;
		transform: scale(.8)
	}
}

@media (min-width:1200px) {
	.l6-hero-image-group .img-1 {
		left: 40%;
		top: -10%;
		transform: scale(1)
	}
}

@media (min-width:1600px) {
	.l6-hero-image-group .img-1 {
		left: 45%;
		top: -6%
	}
}

@media (min-width:992px) {
	.l6-content-image-group {
		position: absolute;
		left: 0;
		top: -235px
	}
}

.l6-content-image-group .img-1 {
	position: absolute;
	left: -5px;
	top: -40px;
	z-index: -1;
	width: 47%
}

@media (min-width:992px) {
	.l6-content-image-group .img-1 {
		left: -10%
	}
}

.l6-content-image-group .img-1 .img-2 {
	width: 60%
}

.l6-content-image-group-2 {
	z-index: 1
}

@media (min-width:992px) {
	.l6-content-image-group-2 {
		position: absolute;
		left: 15%;
		top: -235px
	}
}

.l6-content-image-group-2 .img-1 {
	position: absolute;
	left: -20%;
	top: 50%;
	width: 50%;
	transform: translateY(-50%);
	z-index: 0
}

.l6-content-image-group-2 .img-2 {
	position: relative;
	z-index: 2
}

@media (min-width:992px) {
	.l6-content-image-group-2 .img-2 {
		width: 100%
	}
}

@media (min-width:992px) {
	.l6-content-image-group-3 {
		position: absolute;
		left: 0;
		top: -235px
	}
}

.l6-content-image-group-3 .img-1 {
	position: absolute;
	right: -11%;
	top: -6%;
	z-index: -1;
	width: 60%
}

.bg-img-1 {
	background-image: url(../image/home-1/jpg/hero-bg-1.html)
}

.bg-img-2 {
	background-image: url(../image/home-2/jpg/promo-bg-img.html)
}

.gr-hover-1 {
	transition: .4s
}

.gr-hover-1:hover {
	box-shadow: 0 32px 84px rgba(14, 86, 124, .17)
}

.gr-hover-2 {
	transition: .4s
}

.gr-hover-2:hover {
	box-shadow: 0 32px 44px rgba(29, 41, 63, .07)
}

.gr-hover-3 {
	transition: .4s
}

.gr-hover-3:hover {
	box-shadow: 0 30px 55px rgba(0, 0, 0, .15)
}

.gr-hover-bg-blue-3 {
	transition: .4s
}

.gr-hover-bg-blue-3:hover {
	background-color: #0f53fa;
	border-color: #0f53fa;
	color: #fff
}

.gr-hover-bg-dodger-blue-1 {
	transition: .4s
}

.gr-hover-bg-dodger-blue-1:hover {
	background-color: #22b0fc;
	border-color: #22b0fc;
	color: #fff !important
}

.gr-hover-text-dodger-blue-1 {
	transition: .4s
}

.gr-hover-text-dodger-blue-1:hover {
	color: #22b0fc !important
}

.gr-hover-text-blue-3 {
	transition: .4s
}

.gr-hover-text-blue-3:hover {
	color: #0f53fa !important
}

.min-w-63 {
	min-width: 63px
}

.min-w-76 {
	min-width: 76px
}

.min-w-144 {
	min-width: 144px
}

.max-w-193 {
	max-width: 193px
}

.min-w-210 {
	min-width: 210px
}

.min-w-255 {
	min-width: 255px
}

.min-w-266 {
	min-width: 266px
}

.max-w-322 {
	max-width: 322px
}

.max-w-413 {
	max-width: 413px
}

.max-w-536 {
	max-width: 536px
}

.max-w-540 {
	max-width: 540px
}

.min-h-222 {
	min-height: 222px
}

.h-50 {
	height: 50px !important
}

.h-55 {
	height: 55px !important
}

.h-60 {
	height: 60px !important
}

.max-h-64 {
	max-height: 64px
}

.min-h-107 {
	min-height: 107px
}

.w-70 {
	max-width: 70%
}

.w-30 {
	max-width: 30%
}

.letter-spacing-normal {
	letter-spacing: normal
}

.letter-spacing-5 {
	letter-spacing: 5px
}

.line-height-20 {
	line-height: 20px
}

.line-height-26 {
	line-height: 26px
}

.line-height-34 {
	line-height: 34px
}

.line-height-84 {
	line-height: 1.05
}

.line-height-normal {
	line-height: normal
}

.border-custom-white {
	border-color: rgba(236, 239, 244, .3) !important
}

@media (min-width:576px) {
	.timeline-area .single-widgets {
		width: 50%;
		flex: 0 0 50%
	}
}

@media (min-width:992px) {
	.timeline-area .single-widgets {
		width: 420px;
		flex: inherit
	}
}

@media (min-width:992px) {
	.timeline-area .single-widgets:nth-child(3) {
		margin-top: 75px
	}
}

@media (min-width:992px) {
	.timeline-area .single-widgets:nth-child(4) {
		margin-top: 145px
	}
}

.main-container {
	max-width: 970px;
	margin: 0 auto;
	overflow: hidden
}

.btn.btn-2 {
	min-width: 217px;
	height: 34px;
	min-width: 135px;
	border-radius: 3px;
	line-height: 23px;
	font-size: 15px
}

.btn-blue-3:hover {
	filter: brightness(90%)
}

.btn-blue-3:active {
	box-shadow: unset !important;
	filter: brightness(80%)
}

a:hover {
	filter: brightness(90%)
}

a:active {
	filter: brightness(80%)
}

.nice-select .list {
	transition: unset !important
}

.nice-select:after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	height: 6px;
	width: 6px
}

#back_button,
#description,
#disqus,
#download {
	display: none
}

#next_button,
#prev_button {
	cursor: unset;
	opacity: 0
}

#custom_logo {
	display: none;
	height: 55px
}

.nice-select .list {
	background-color: unset
}

#description,
#instructions {
	background: rgb(255 255 255 / .1)
}

#direct-video {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0
}

.nice-select {
	font-size: 15px
}

#instructions p {
	font-size: 1rem
}

#title {
	filter: brightness(100%)
}

@media (max-width:450px) {
	.btn.btn-2 {
		height: 31px !important;
		min-width: 115px !important;
		line-height: 19px !important;
		font-size: 13px !important
	}

	#custom_logo {
		height: 50px
	}

	h3 {
		font-size: 23px
	}

	p {
		font-size: 1rem;
		margin-bottom: .5rem
	}

	.nice-select {
		font-size: 13px
	}

	#disqus.btn.btn-2,
	#download.btn.btn-2 {
		line-height: 14px !important
	}
}

@media (max-width: 640px){
    a.btn.btn.btn-blue-3.header-btn.rounded-5 {
        min-width: 163px !important;
        height: 45px !important;
    }

    .light-version-logo, .dark-version-logo {
        width: 200px !important;
    }

    .brand-logo{
        margin-top: 6px !important;
    }
}

@media (max-width: 550px){
    a.btn.btn.btn-blue-3.header-btn.rounded-5 {
        min-width: 102px !important;
    }
}

@media (max-width: 450px){
    .light-version-logo, .dark-version-logo {
        width: 150px !important;
    }

    .brand-logo{
        margin-top: 4px !important;
    }

    .site-header{
        padding-left:0px!important;
        padding-right:0px!important;
    }

    a.btn.btn.btn-blue-3.header-btn.rounded-5 {
        min-width: 93px !important;
        height: 39px !important;
    }
}

.header-btn a {
    display: inline-flex;
    min-height: 35px;
    min-width: 120px;
    font-size: 14px;
    font-weight: 500;
}